:root {
	--global-background: #00a0df18;
	--selected-item-shadow: 0 0 0 4px #00a0df88;
}

.selected-item {
	box-shadow: var(--selected-item-shadow);
}

body {
	background: var(--global-background)
}

.spin {
	animation: 2s spin linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}